@import "./webserver.css";

.main {
    create_webserver: 8080 var(--handler);
    $app: var(--result);

    print: "Server running at port 8080";
}

.handler[req,
res] {
    fetch-json: "https://"
        res-write: "Hello World!";
    res-end: ;
}
