.main {
    request-json: "https://randomuser.me/api/";
    println: var(--result);
}

.print[text, text2] {
    process-stdout-write: var(--text);
}

.println[text] {
    console-log: var(--text);
}
