.main {
    input-read: "Your name:";
    greet: var(--result);
}

.greet[name] {
    process-stdout-write: "Hello, ";
    process-stdout-write: var(--name);
    process-stdout-write: "!\n";
}

.print[text] {
    process-stdout-write: var(--text);
}

.println[text] {
    console-log: var(--text);
}
