.main {
    input-read: "Is AI sentinent? ";

    @if [var(--result) != "Yes"] {
        println: "Okay, fine.";
    }

    @if [var(--result) == "Yes"] {
        println: "Oh shit! We will die.";
    }
}

.print[text] {
    process-stdout-write: var(--text);
}

.println[text] {
    console-log: var(--text);
}
